<mat-form-field appearance="fill" class="w-100">
  <mat-label>{{ this.title }}</mat-label>
  <input
    matInput
    [type]="this.inputType"
    [placeholder]="this.inputPlaceholder"
    [formControl]="this.inputFormControl"
    [min]="this.inputMin"
    [max]="this.inputMax"
    [step]="this.inputStep"
    [required]="this.inputIsRequired"
  />

  <div matSuffix class="d-flex justify-content-center align-items-center">
    <div class="p-2">
      <ng-container *ngIf="this.inputSuffixText">
        <span>{{ this.inputSuffixText }}</span>
      </ng-container>
    </div>
    <div class="p-2">
      <mat-icon
        class="standardInformationField"
        (click)="this.openInformationDialog()"
        >info</mat-icon
      >
    </div>
  </div>

  <mat-error *ngIf="this.inputFormControl.invalid">
    {{ this.errorText }}
  </mat-error>
</mat-form-field>
