<h1 mat-dialog-title>Bearbeiten</h1>

<div mat-dialog-content>
  <p>Wie soll der neue Name lauten?</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="this.name" />
  </mat-form-field>
</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <div class="p-2">
    <button mat-raised-button [mat-dialog-close]>Abbrechen</button>
  </div>
  <div class="p-2">
    <button mat-raised-button (click)="this.onSaveClick()" cdkFocusInitial>
      Speichern
    </button>
  </div>
</div>
