<div class="d-flex justify-content-center">
  <div class="p-2">
    <table class="greyGridTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Module</th>
          <th>Kurzer Name</th>
        </tr>
      </thead>

      <tbody>
        <!-- iterates over the modules and displays the name and the short name in a HTML table  -->
        <tr class="tableRow" *ngFor="let module of modules; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <span>{{ module.name }}</span>
          </td>
          <td>
            <span>{{ module.shortName }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
