<mat-form-field appearance="fill" class="w-100">
  <mat-label>{{ this.title }}</mat-label>
  <mat-select
    [formControl]="this.selectFormControl"
    [required]="this.selectIsRequired"
  >
    <mat-option
      *ngFor="let option of this.selectOptions"
      [value]="option.value"
    >
      {{ option.description }}
    </mat-option>
  </mat-select>

  <div matSuffix class="d-flex justify-content-center align-items-center">
    <div class="p-2">
      <mat-icon
        matSuffix
        class="standardInformationField"
        (click)="$event.stopPropagation()"
        (click)="this.openInformationDialog()"
        >info</mat-icon
      >
    </div>
  </div>
</mat-form-field>
