<h1 mat-dialog-title>CSV Import</h1>

<div mat-dialog-content class="h-90">
  <div class="d-flex flex-column">
    <!-- upload input -->
    <div class="p-2">
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <input
            type="file"
            class="form-control-file"
            #fileImportInput
            name="File Upload"
            id="csvFileUpload"
            (change)="this.fileChangeListener($event)"
            accept=".csv"
          />
        </div>
      </div>
    </div>

    <!-- result table -->
    <div *ngIf="isCsv" class="p-2">
      <table class="greyGridTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Name des Professors</th>
            <th>Kurzer Name</th>
            <th>Anzahl der Vorlesungen</th>
            <th>Anzahl der Übungen</th>
            <th>Anzahl der Studierenden</th>
            <th>Theorie oder Praxis</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="tableRow"
            *ngFor="let csvData of csvRecords; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>
              <span>{{ csvData.name }}</span>
            </td>
            <td>
              <span>{{ csvData.shortName }}</span>
            </td>
            <td>
              <span>{{ csvData.numberOfLectures }}</span>
            </td>
            <td>
              <span>{{ csvData.numberOfExercises }}</span>
            </td>
            <td>
              <span>{{ csvData.numberOfStudents }}</span>
            </td>
            <td>
              <span>{{ csvData.theoryPraxisType }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- nothing yet selected display -->
    <div *ngIf="!isCsv" class="p-2">
      <h4>Es wurde noch keine CSV Hochgeladen.</h4>
    </div>
  </div>
</div>

<div mat-dialog-actions class="d-flex justify-content-between">
  <div class="p-2">
    <button
      [disabled]="!isCsv"
      mat-button
      [mat-dialog-close]="csvRecords"
      cdkFocusInitial
    >
      Module hochladen
    </button>
  </div>

  <div class="p-2">
    <button mat-button [mat-dialog-close]>Abbrechen</button>
  </div>
</div>
