<div class="row align-items-center px-5">
  <div class="col p-2"></div>
  <div class="col p-2"><h1>Modulkonfiguration</h1></div>
  <div class="col p-2 d-flex justify-content-end">
    <button color="success" mat-raised-button (click)="this.openCSVDialog()">
      CSV-Importieren
    </button>
  </div>
</div>

<br />

<!-- module selection & save -->
<div class="d-flex flex-row justify-content-between mx-5 mb-3">
  <div class="p-2">
    <typeahead
      typeaheadLabel="Modul wählen"
      [userInputRequired]="true"
      [allowChange]="true"
      [urlDirectoryPath]="this.mainCommunicationService.MODULE"
      (optionSelected)="this.moduleSelected($event)"
    ></typeahead>
  </div>

  <div class="p-2">
    <button
      color="success"
      mat-raised-button
      (click)="this.saveModule()"
      [disabled]="!(this.selectedModuleValid.value)"
    >
      Speichern
    </button>
  </div>
</div>

<!-- module configuration -->
<module-configuration
  [givenModule]="this.selectedModule"
  (moduleConfigurationChanged)="this.moduleConfigurationChanged($event)"
></module-configuration>
