<div class="row align-items-center px-5">
  <div class="col p-2"></div>
  <div class="col p-2"><h1>Phase 2</h1></div>
  <div class="col p-2 d-flex justify-content-end">
    <button mat-raised-button (click)="this.openExportDialog()">Export</button>
  </div>
</div>

<!-- result display if successful termination of phase 2 algorithm -->
<ng-container *ngIf="this.phaseTwoCompletedSuccessfully; else elseBlock">
  <div class="d-flex flex-row justify-content-between">
    <!-- filter -->
    <div class="p-2">
      <typeahead
        typeaheadLabel="Professor wählen"
        [userInputRequired]="false"
        [allowChange]="false"
        [urlDirectoryPath]="this.mainCommunicationService.PROFESSORS"
        [optionReset]="this.resetFilter"
        (optionSelected)="this.professorToFilterSelected($event)"
      ></typeahead>
    </div>

    <!-- filter reset button-->
    <div class="p-2">
      <button
        mat-raised-button
        (click)="this.resetProfessorFilter()"
        [disabled]="!this.currentProfessorFilter.id"
      >
        Filter löschen
      </button>
    </div>
  </div>

  <!-- week-calender -->
  <week-calender
    id="week-calender"
    mode="phase-two"
    [givenPhaseTwoSolution]="this.shownPhaseTwoSolution"
  ></week-calender>

  <br />
  <br />

  <div class="centeredContent">
    <!-- Unallocated modules display -->
    <ng-container *ngIf="this.shownPhaseTwoSolution.hasUnallocatedLectures">
      <div>
        <p>
          Anzahl der nicht zugewiesenen Module:
          {{ this.shownPhaseTwoSolution.numberOfUnallocatedLectures }}
        </p>
      </div>
      <div class="break"></div>
      <div>
        <module-selection
          [givenModules]="this.shownPhaseTwoSolution.unallocatedModules"
          [considerAssignedModules]="true"
          [disableEdit]="true"
        ></module-selection>
      </div>
      <div class="break"></div>
    </ng-container>

    <!-- legend for phase 2 result -->
    <div>
      <legend-week-calender
        id="legend-week-calender"
        *ngIf="this.phaseTwoCompletedSuccessfully"
      ></legend-week-calender>
    </div>
  </div>
</ng-container>

<ng-template #elseBlock>
  <!-- spinner indicating loading, when algorithm not done -->
  <div
    class="d-flex justify-content-center"
    *ngIf="this.waitingForResult; else elseBlock2"
  >
    <div class="p-2">
      <h1><mat-spinner></mat-spinner></h1>
    </div>
  </div>

  <!-- message if algorithm not successful, but terminated -->
  <ng-template #elseBlock2>
    <p class="centeredContent mt-5">
      Der Algorithmus konnte nicht terminieren.
    </p>
  </ng-template>
</ng-template>
