<h1 mat-dialog-title>Gewichtung des Vielleicht-Slots</h1>

<div mat-dialog-content>
  <input-form-field
    title="Gewichtung"
    inputType="number"
    inputPlaceholder="z. B. 50"
    [inputFormControl]="this.weightingControl"
    inputMin="0"
    inputMax="100"
    [inputIsRequired]="true"
    [informationDialogText]="
      'Mit diesem Wert können Sie den Faktor der Gewichtung des gewählten Slots  in der Kostenfunktion ' +
      'des Algorithmuses der Phase 2 festlegen, dadurch kann eine Priorisierung von Vielleicht-Slots erstellt werden.'
    "
    errorText="Wert innerhalb der Schranken erfordert [0, 100]"
  ></input-form-field>
</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <div class="p-2">
    <button mat-raised-button [mat-dialog-close]>Abbrechen</button>
  </div>
  <div class="p-2">
    <button mat-raised-button (click)="this.onSaveClick()" cdkFocusInitial>
      Speichern
    </button>
  </div>
</div>
