<div class="d-flex justify-content-center">
  <div class="p-2"><h1>Dashboard</h1></div>
</div>

<br />

<div class="content">
  <div class="row">
    <!-- phase 1 entry point -->
    <div class="col-8 title_box">
      <div class="title">Statistiken</div>
      <div class="row-info">
        <div class="col-lg-4">
          <h5>Professoren:</h5>
          <div *ngFor="let professor of profNames" class="professors">
            {{ professor }}
          </div>
        </div>
        <div class="col-lg-4">
          <h5>Module:</h5>
          <div *ngFor="let subject of subjectNames" class="subject">
            {{ subject }}
          </div>
        </div>
        <div class="col-lg-4">
          <h5>Informationen:</h5>
          <p>
            Aktuell {{ profAmount == 1 ? "ist" : "sind" }}
            <strong>{{ profAmount }}</strong> Professor{{
              profAmount == 1 ? "" : "en"
            }}
            <br />
            und <strong>{{ subjectAmount }}</strong> Modul{{
              subjectAmount == 1 ? "" : "e"
            }}
            in der <br />
            Datenbank vorhanden.
            <br />
          </p>

          <ng-container *ngIf="subjectUnassigned === 999">
            <p>Alle Module wurden Professoren zugeordnet</p>
          </ng-container>
          <ng-container
            *ngIf="subjectUnassigned > 0 && subjectUnassigned !== 999"
          >
            <p>
              Aktuell wurde{{ subjectUnassigned == 1 ? "" : "n" }}
              <strong>{{ subjectUnassigned }}</strong> Modul{{
                subjectUnassigned == 1 ? "" : "en"
              }}
              <br />
              keinem Professor zugeordnet:
            </p>
            <div
              *ngFor="let unassignedSubject of unassignedSubjectNames"
              class="subject"
            >
              {{ unassignedSubject }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- phase 1 entry point -->
    <div class="col col2 title_box">
      <div class="title">Berechnung</div>
      <div class="row-info centeredContent">
        <button color="success" mat-raised-button (click)="this.startPhaseOne()">
          Phase 1 starten
        </button>
      </div>
    </div>
  </div>
</div>
