.content {
    width: 96%;
    height: 96%;
    margin: 2%;
}

.row-info {
  display: flex;
  height: 500px;
  width: auto;
  max-height: 500px;
  overflow-y: auto;
}

.col2 {
  margin-left: 50px;
}

.title_box {
  border: #3c5a86 1px solid;
  border-radius: 5px;
  height: 90%;
}

.title_box .title {
  position: relative;
  top: -0.9em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

.professors {
  border: #303a52 1px solid;
  border-radius: 5px;
  background-color: #fc85ae;
  margin-bottom: 10px;
  padding: 5px;
}
.subject {
  border: #303a52 1px solid;
  border-radius: 5px;
  background-color: #9e579d;
  margin-bottom: 10px;
  padding: 5px;
}

.infoFeld {
  margin-bottom: 50px;
}

// Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.centeredContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
