mat-grid-tile {
  background: lightblue;
}

.contentOpen:hover {
  cursor: pointer;
  background: lightblue;
}
.contentOpen {
  color: white;
}
.header {
  background-color: var(--pink-4);
  color: white;
}
.col-1 {
  padding-right: 1px;
}
.col-11 {
  padding-left: 0px;
}

.contentClose {
  background: var(--red-2);
}
.btn {
  height: 75%;
}

::ng-deep .sg-vertical-sub-menu + * .cdk-overlay-pane {
  margin-top: -64px - 17px;
}
.divider {
  margin-right: 5px;
  margin-left: 5px;
  border-top-color: black !important;
}
::ng-deep .mat-divider {
  border-top-color: black !important;
}
.divBlocked {
  margin-left: 5px;
}
.divChecked {
  margin-right: 5px;
}
.calenderMenuBar {
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 1px;
}
.calenderMenuBarColor {
  background-color: var(--cau-pink);
}
.saveButton {
  background-color: white;
}
.openButton {
  background-color: var(--light-4);
}
.closeButton {
  background-color: var(--red-1);
}
.maybeButton {
  background-color: var(--light-1);
}
.blockedImage {
  cursor: pointer;
}
.questionImage {
  cursor: pointer;
}
.checkImage {
  cursor: pointer;
}

.ribbon {
  width: 11%;
  padding: 5px;
  margin-left: 1%;
  background: white;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  overflow: hidden;
}

// Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.centeredContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.iconsGrey{
  font-size: 50px;
  color:green
}
.iconsBlack{
  font-size: 50px;
  color:black
}

.iconMenu{
  font-size: 50px;
  color:white;
  padding-top: 7px;
  display: flex;
  align-items: center;
}


