<!-- professor configuration -->
<ng-container *ngIf="this.mode == 'professor-configuration'">
  <div
    class="d-flex flex-row justify-tile-between calenderMenuBar calenderMenuBarColor"
  >
    <div class="p-2 iconMenu">
      <mat-icon alt="Menu" [inline]="true" [matMenuTriggerFor]="navMenu"
        >view_headline</mat-icon
      >
    </div>

    <mat-menu #navMenu="matMenu" yPosition="below">
      <div class="p-2">
        <button
          class="openButton w-100"
          mat-stroked-button
          (click)="this.handleNavBarAction('allAvailable')"
        >
          Alle verfügbar machen
        </button>
      </div>
      <div class="p-2">
        <button
          class="maybeButton w-100"
          mat-stroked-button
          (click)="this.handleNavBarAction('allPossible')"
        >
          Alle auf vielleicht setzen
        </button>
      </div>
      <div class="p-2">
        <button
          class="closeButton w-100"
          mat-stroked-button
          (click)="this.handleNavBarAction('allUnavailable')"
        >
          Alle ausschließen
        </button>
      </div>
    </mat-menu>

    <div class="p-2">
      <span>
        <h3 class="text-white">Hinzufügen der Einschränkungen</h3>
      </span>
    </div>

    <div class="p-2"></div>
  </div>
</ng-container>

<!-- phase 1 -->
<ng-container *ngIf="this.mode == 'phase-one'">
  <div
    class="d-flex flex-row justify-tile-between calenderMenuBar calenderMenuBarColor"
  >
    <div class="p-2">
      <span>
        <h3 class="text-white">Phase 1</h3>
      </span>
    </div>
  </div>
</ng-container>

<!-- phase 2 -->
<ng-container *ngIf="this.mode == 'phase-two'">
  <div
    class="d-flex flex-row justify-tile-between calenderMenuBar calenderMenuBarColor"
  >
    <div class="p-2">
      <span>
        <h3 class="text-white">Phase 2</h3>
      </span>
    </div>
  </div>
</ng-container>

<!-- general table header -->
<div class="row">
  <div class="col-1">
    <mat-grid-list [cols]="1" rowHeight="100px">
      <mat-grid-tile class="header"></mat-grid-tile>
      <mat-grid-tile
        class="header"
        *ngFor="let rows of this.rowsDefinition.lables"
      >
        {{ rows }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-11">
    <mat-grid-list
      [cols]="this.columnsDefinition.amount"
      rowHeight="100px"
      (event)="$event.stopPropagation()"
    >
      <mat-grid-tile
        class="header"
        *ngFor="let columns of this.columnsDefinition.lables"
      >
        {{ columns }}
      </mat-grid-tile>

      <!-- define each tile -->
      <ng-container *ngFor="let tile of this.tileList">
        <!-- non-blockedSlots -->
        <ng-container *ngIf="tile.isBlocked == false">
          <!-- professor-configuration -->
          <ng-container *ngIf="this.mode == 'professor-configuration'">
            <mat-grid-tile
              [matMenuTriggerFor]="menu"
              [ngStyle]="{
                background:
                  tile.state == 'available'
                    ? 'var(--light-4)'
                    : tile.state == 'possible'
                    ? 'var(--light-1)'
                    : tile.state == 'unavailable'
                    ? 'var(--red-1)'
                    : null
              }"
              class="contentOpen"
              (click)="this.toggleIsOpenState(tile)"
            >
              <!-- switch-Case for specific icon for the current state of a tile -->
              <ng-container [ngSwitch]="tile.state">
                <!-- icon: available -->
                <div class="iconsBlack">
                  <mat-icon
                    *ngSwitchCase="'available'"
                    [inline]="true"
                    alt="Checked"
                    >check_box</mat-icon
                  >
                </div>

                <!-- icon: possible + WeihgtingDialog-->
                <ng-container *ngSwitchCase="'possible'">
                  <div class="d-flex flex-column">
                    <div class="p-2">
                      <div class="iconsBlack">
                        <mat-icon [inline]="true" alt="Maybe">help</mat-icon>
                      </div>
                    </div>
                    <div class="p-2 centeredContent">
                      <img
                        src="/assets/icons/gear.svg"
                        (click)="openWeightDialog(tile.timeSlot)"
                        (click)="$event.stopPropagation()"
                        alt="Maybe"
                        height="21"
                        width="21"
                      />
                    </div>
                  </div>
                </ng-container>

                <!-- icon: unavailable -->
                <div class="iconsBlack">
                  <mat-icon
                    *ngSwitchCase="'unavailable'"
                    [inline]="true"
                    alt="Blocked"
                    >highlight_off</mat-icon
                  >
                </div>
              </ng-container>

              <!-- change availibilty menu -->
              <mat-menu
                #menu="matMenu"
                yPosition="below"
                backdropClass="sg-vertical-sub-menu"
                (event)="$event.stopPropagation()"
              >
                <div class="d-flex justify-tile-center">
                  <!-- selectable or greyedout icon: possible -->
                  <div class="divBlocked">
                    <div class="iconsBlack">
                      <mat-icon
                        class="blockedImage"
                        *ngIf="tile.state !== 'unavailable'; else blockedGrey"
                        [inline]="true"
                        alt="Blocked"
                        (click)="$event.stopPropagation()"
                        (click)="this.handleTileState(tile, 'unavailable')"
                        matTooltip="Slot blockieren"
                        >highlight_off</mat-icon
                      >
                    </div>
                    <ng-template #blockedGrey>
                      <!-- grey -->
                      <div class="iconsGrey">
                        <mat-icon
                          class="blockedImageGrey"
                          [inline]="true"
                          alt="Blocked"
                          >highlight_off</mat-icon
                        >
                      </div>
                    </ng-template>
                  </div>

                  <mat-divider class="divider" [vertical]="true"></mat-divider>

                  <!-- Selectable or greyedout icon: possible -->
                  <div class="divQuestion">
                    <div class="iconsBlack">
                      <mat-icon
                        class="questionImage"
                        *ngIf="tile.state !== 'possible'; else questionGrey"
                        alt="Maybe"
                        [inline]="true"
                        (click)="$event.stopPropagation()"
                        (click)="this.handleTileState(tile, 'possible')"
                        matTooltip="Slot mit geringerer Priorität"
                        >help</mat-icon
                      >
                    </div>
                    <ng-template #questionGrey>
                      <!-- grey -->
                      <div class="iconsGrey">
                        <mat-icon
                          class="questionGrey"
                          alt="Blocked"
                          [inline]="true"
                          >help</mat-icon
                        >
                      </div>
                    </ng-template>
                  </div>

                  <mat-divider class="divider" [vertical]="true"></mat-divider>

                  <!-- Selectable or greyedout icon: available -->
                  <div class="divChecked">
                    <div class="iconsBlack">
                      <mat-icon
                        class="checkImage"
                        *ngIf="tile.state !== 'available'; else checkedGrey"
                        [inline]="true"
                        alt="Checked"
                        (click)="$event.stopPropagation()"
                        (click)="handleTileState(tile, 'available')"
                        matTooltip="Slot steht frei"
                        >check_box</mat-icon
                      >
                    </div>

                    <ng-template #checkedGrey>
                      <!-- grey -->
                      <div class="iconsGrey">
                        <mat-icon
                          class="checkedGrey"
                          [inline]="true"
                          alt="Blocked"
                          >check_box</mat-icon
                        >
                      </div>
                    </ng-template>
                  </div>
                </div>
              </mat-menu>
            </mat-grid-tile>
          </ng-container>

          <!-- phase 1 -->
          <ng-container *ngIf="this.mode == 'phase-one'">
            <mat-grid-tile [style.backgroundColor]="tile.color">
              <div class="ribbon" *ngIf="tile.timeSlotGroup != null">
                {{ tile.timeSlotGroup.id + 1 }}
              </div>
            </mat-grid-tile>
          </ng-container>

          <!-- phase 2 -->
          <ng-container *ngIf="this.mode == 'phase-two'">
            <mat-grid-tile [style.backgroundColor]="tile.color">
              <div class="ribbon" *ngIf="tile.timeSlotGroup != null">
                {{ tile.timeSlotGroup.id + 1 }}
              </div>
              <mat-chip-list
                cdkDropList
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="this.dragAndDropModel($event, tile)"
              >
                <mat-chip
                  cdkDrag
                  *ngFor="let module of tile.modules"
                  (click)="this.openInfoDialog(module.name)"
                >
                  {{ module.shortName ? module.shortName : module.name }}
                </mat-chip>
              </mat-chip-list>
            </mat-grid-tile>
          </ng-container>
        </ng-container>

        <!-- blocked slots -->
        <ng-container *ngIf="tile.isBlocked == true">
          <mat-grid-tile class="contentClose"> </mat-grid-tile>
        </ng-container>
      </ng-container>
    </mat-grid-list>
  </div>
</div>
