<ng-container *ngIf="!this.disableEdit; else elseBlock">
  <!-- module selection: edit allowed (changing selected module) -->
  <mat-form-field class="module-selection">
    <mat-chip-list #chipList aria-label="Modulzuweisung">
      <!-- chips showing selected modules -->
      <mat-chip
        *ngFor="let module of this.selectedModules | async"
        (click)="this.openModuleConfigurationDialog(module)"
        (removed)="this.removeSelection(module)"
      >
        {{ module.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <!-- input -->
      <input
        #moduleInput
        placeholder="Module zuweisen"
        [formControl]="this.moduleSelectionInput"
        [matAutocomplete]="moduleInputAutocomplete"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      />
    </mat-chip-list>

    <!-- auto complete with dropdown field for typeahead functionality -->
    <mat-autocomplete
      #moduleInputAutocomplete="matAutocomplete"
      [displayWith]="this.displayName"
      (optionSelected)="this.selected($event)"
    >
      <mat-option
        *ngFor="let module of this.fitleredModules | async"
        [value]="module"
      >
        {{ module.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>

<!-- module selection: edit not allowed (opening module configuration dialog still allowed: openModuleConfigurationDialog) -->
<ng-template #elseBlock>
  <mat-form-field class="module-selection-disableEdit">
    <mat-chip-list #chipList aria-label="Module">
      <mat-chip
        *ngFor="let module of this.selectedModules | async"
        (click)="this.openModuleConfigurationDialog(module)"
      >
        {{ module.name }}
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</ng-template>
