.dialogContent{
    word-wrap: break-word;
    white-space: pre-wrap;
    
}
.icon {
    font-size: 52px;
    cursor: none;
    line-height: normal;
    color: var(--cau-pink);
}

.centeredContent {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .mat-divider {
    border-top-color: var(--pink-2);
    border-width: 2px;
}