<div mat-dialog-title>
  <div class="d-flex justify-content-start">
    <div class="p-2">
      <div class="centeredContent">
        <mat-icon *ngIf="!data.isError" class="icon" [inline]="true"
          >info</mat-icon
        >
        <mat-icon *ngIf="data.isError" class="icon" [inline]="true"
          >alert</mat-icon
        >
      </div>
    </div>
    <div class="p-2">
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <h3>
            <strong>{{ data.header }}</strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>

<div mat-dialog-content class="dialogContent">{{ data.displayText }}</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <div *ngFor="let button of data.buttonText" class="p-2">
    <button mat-raised-button [mat-dialog-close]="button" cdkFocusInitial>
      {{ button }}
    </button>
  </div>
</div>
