<div class="d-flex justify-content-center">
  <div class="p-2">
    <h1>Phase 1</h1>
    <div>{{ buildInformationString() }}</div>
  </div>
</div>

<br />

<!-- week-calender if solution selected -->
<ng-container *ngIf="this.selectedPhaseOneSolution?.timeSlotGroups != null">
  <week-calender
    mode="phase-one"
    [givenPhaseOneSolution]="this.selectedPhaseOneSolution"
  >
  </week-calender>
</ng-container>

<!-- spinner indicating loading -->
<ng-container *ngIf="this.waitingForResult">
  <div class="d-flex justify-content-center">
    <div class="p-2"><mat-spinner></mat-spinner></div>
  </div>
</ng-container>

<ng-container
  *ngIf="
    !this.waitingForResult && this.phaseOneReturn?.solutionStatus"
>
  <!-- pagination -->
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    (change)="this.onPaginationEvent($event.value)"
  >
    <!-- left arrow pagination -->
    <ng-container *ngIf="this.hasPreviousSolutions">
      <mat-button-toggle value="<">
        <mat-icon>navigate_before</mat-icon></mat-button-toggle
      >
    </ng-container>

    <!-- proposed solutions selection -->
    <ng-container *ngFor="let solutionId of this.currentlyProposedSolutionIds">
      <mat-button-toggle value="{{ solutionId }}">
        {{ solutionId + 1 }}
      </mat-button-toggle>
    </ng-container>

    <!-- right arrow pagination -->
    <ng-container *ngIf="this.hasFollowingSolutions">
      <mat-button-toggle value=">">
        <mat-icon>navigate_next</mat-icon>
      </mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>

  <!-- phase 2 entry point -->
  <div class="centeredContent">
    <button
      color="success"
      mat-raised-button
      (click)="this.passCurrentSelectionToPhaseTwo()"
      [disabled]="!this.selectedPhaseOneSolution"
    >
      Phase 2 <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</ng-container>

<ng-container *ngIf = "this.phaseOneReturn?.solutionStatus === false">
  <p class="centeredContent mt-5">
    Der Algorithmus konnte keine Lösung finden.
  </p>
</ng-container>
