mat-button-toggle-group {
  width: 86%;
  margin: 2% 7%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

// Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.centeredContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.centeredContent button {
  height: 50px;
  font-size: 36px;
}

.centeredContent button mat-icon {
  height: 50px;
  font-size: 45px;
}
