<h1 mat-dialog-title>Stundenzuordnung nach PDF exportieren</h1>

<div mat-dialog-content>
  <p>Die PDF with generiert und zum Download bereitgestellt. Bitte warten</p>
  <p>
    Hinweis: Die Datei ist ein Abbild des aktuell dargestellten Stundenplans und
    wird entsprechend maximal auf A4 skaliert. Je näher der dargstellte
    Stundenplan (durch Anpassung der Fenstergröße) an der horizontalen A4-Größe ist, desto
    besser wird der Platz in der Pdf genutzt und die Abbildung größer.
  </p>
</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <div class="p-2">
    <button mat-raised-button [mat-dialog-close]>Schließen</button>
  </div>
</div>
