.navbar-style {
  background-color: var(--cau-pink);
}

.deko {
  height: fit-content;
  background-color: var(--pink-2);
}

.navbar-brand {
  color: white;
}

.navIcon {
  width: 25px;
  height: 25px;
}

.home {
  cursor: pointer;
  user-select: none;
  height: 100%;
}

.navigationRouting {
  cursor: pointer;
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  background-color: var(--pink-3);
  vertical-align: middle;
  padding:3px;
}

.no-flew-wrap {
  flex-wrap: nowrap;
}

// Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.centeredContent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fontColor{
  color:white;
}

.white-icon {
  color: white;
}