<nav class="navbar navbar-expand-lg navbar-light navbar-style">
    <h4 class="fontColor">
      Berechnung von Stundenplänen unter Berücksichtigung von Bedingungen
    </h4>
</nav>
<div class="w-100 deko">
  <!-- The div-element represents the menu in the header -->
  <div class="d-flex justify-content-lg-start calenderMenuBar calenderMenuBarColor">


    <!-- Menu-Element: Dashboard -->
    <div class="p-2" [routerLink]="[ '/', 'dashboard' ]" routerLinkActive="active">
      <div class="navigationRouting">
        <div class="row no-flew-wrap">
          <div class="col-2 centeredContent">
            <mat-icon class="white-icon">home</mat-icon>
          </div>
          <div class="col-10 centeredContent">
            <b class="fontColor">Dashboard</b>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu-Element: Module -->
    <div class="p-2" [routerLink]="[ '/', 'module-configuration' ]" routerLinkActive="active">
      <div class="navigationRouting">
        <div class="row no-flew-wrap">
          <div class="col-2 centeredContent">
            <mat-icon class="white-icon">class</mat-icon>
          </div>
          <div class="col-10 centeredContent">
            <b class="fontColor">Module</b>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu-Element: Professoren -->
    <div class="p-2" [routerLink]="[ '/', 'professor-configuration' ]" routerLinkActive="active">
      <div class="navigationRouting">
        <div class="row no-flew-wrap">
          <div class="col-2 centeredContent">
            <mat-icon class="white-icon">group</mat-icon>
          </div>
          <div class="col-10 centeredContent">
            <b class="fontColor">Professoren</b>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu-Element: Bedingungen -->
    <div class="p-2" [routerLink]="[ '/', 'constraint-configuration' ]" routerLinkActive="active">
      <div class="navigationRouting">
        <div class="row no-flew-wrap">
          <div class="col-2 centeredContent">
            <mat-icon class="white-icon">settings_ethernet</mat-icon>
          </div>
          <div class="col-10 centeredContent">
            <b class="fontColor">Kollisionen</b>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu-Element: Einstellungen -->
    <div class="p-2" [routerLink]="[ '/', 'settings-configuration' ]" routerLinkActive="active">
      <div class="navigationRouting">
        <div class="row no-flew-wrap">
          <div class="col-2 centeredContent">
            <mat-icon class="white-icon">settings</mat-icon>
          </div>
          <div class="col-10 centeredContent">
            <b class="fontColor">Einstellungen</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>