<div class="d-flex justify-content-center mx-5 my-3">
  <div class="col">
    <div class="col title_box mx-2">
      <div class="title">Details</div>

      <div>
        <form [formGroup]="this.moduleConfigurationGroup">
          <!-- shortName -->
          <input-form-field
            title="kurzer Name des Moduls"
            inputType="string"
            inputPlaceholder="z. B. AUD"
            [inputFormControl]="this.shortNameControl"
            [inputIsRequired]="true"
            [informationDialogText]="
              'Mit diesem Wert können Sie den abgekürzte Bezeichnung des Moduls festlegen. Diese Information wird für die Ergebnisdarstellung der Phase 2 benötigt. ' +
              'Reine Modulnamen sind teilweise sehr lang, sodass in Folge weniger Module gleichzeitig in einem Feld dargestellt werden könnten.'
            "
            errorText="Kurzer Name erfordert: Siehe Informationen"
          ></input-form-field>

          <br />

          <!-- theoryPraxisType -->
          <select-option-form-field
            title="Theorie / Praxis"
            [selectFormControl]="this.theoryPraxisTypeControl"
            [selectIsRequired]="true"
            [selectOptions]="this.theoryPraxisTypeSelectionOptions"
            [informationDialogText]="
              'Mit diesem Wert können Sie den Typ des Moduls festlegen. Diese Information, wenn verfügbar, wird später zu Trennung von entsprechenden Modulen verwendet, ' +
              'sodass unterschiedlich Typen möglichst nicht an einem Zeitpunkt stattfinden.'
            "
          >
          </select-option-form-field>

          <br />

          <!-- numberOfLectures -->
          <input-form-field
            title="Anzahl der Vorlesungen"
            inputType="number"
            inputPlaceholder="z. B. 2"
            [inputFormControl]="this.lecturesControl"
            inputMin="0"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            informationDialogText="Mit diesem Wert können Sie die Anzahl der Slots festlegen, die die Vorlesungen dieses Moduls belegen."
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />

          <!-- numberOfExercises -->
          <input-form-field
            title="Anzahl der Übungen"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.exercisesControl"
            inputMin="0"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            informationDialogText="Mit diesem Wert können Sie die Anzahl der Slots festlegen, die die Übungen dieses Moduls belegen."
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />

          <!-- numberOfStudents -->
          <input-form-field
            title="Erwartete Teilnehmerzahl"
            inputType="number"
            inputPlaceholder="z. B. 50"
            [inputFormControl]="this.studentsControl"
            inputMin="0"
            inputSuffixText="Studierende"
            informationDialogText="Mit diesem Wert können Sie die Anzahl der erwarteteten Teilnehmer festlegen. Diese Information wird für die Priorisierung bei Konflikten genutzt."
            errorText="Nur positiver Wert erlaubt"
          ></input-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
