<h1 mat-dialog-title>Projektmitglieder:</h1>

<div mat-dialog-content class="d-flex justify-content-center">
  <div class="p-2">
    <table class="table table-borderless table-hover">
      <tbody>
        <tr>
          <th scope="row">Phase 1:</th>
          <td>Chris Bühling</td>
          <td>Janina Reuter</td>
          <td>Jan Witzany</td>
        </tr>
        <tr>
          <th scope="row">Phase 2:</th>
          <td>Henrik Rohde</td>
          <td>Aaron Schaper</td>
          <td>Yorck Zisgen</td>
        </tr>
        <tr>
          <th scope="row">GUI:</th>
          <td>Christian Imenkamp</td>
          <td>Johannes Kollien</td>
          <td>Muhammad Moazzam</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <div class="p-2">
    <button mat-raised-button [mat-dialog-close]>Schließen</button>
  </div>
</div>
