<h1 mat-dialog-title>Modul bearbeiten</h1>

<div mat-dialog-content>
  <module-configuration
    [givenModule]="this.selectedModule"
    (moduleConfigurationChanged)="this.moduleConfigurationChanged($event)"
  ></module-configuration>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Abbrechen</button>
  <button
    mat-button
    (click)="this.onSaveClick()"
    [disabled]="!this.selectedModuleValid"
    cdkFocusInitial
  >
    Speichern
  </button>
</div>
