<div class="mb-3">
  <mat-form-field class="w-250">
    <!-- input -->
    <input
      type="text"
      [placeholder]="this.typeaheadLabel"
      matInput
      [formControl]="this.typeaheadInput"
      [required]="this.userInputRequired"
      (input)="this.setAddDeleteButtonStates(false, false)"
      (focusin)="this.setAddDeleteButtonStates(false, false)"
      (focusout)="this.adaptButtonLabel()"
      [matAutocomplete]="auto"
    />

    <!-- autocomplete with dropdown -->
    <mat-autocomplete
      autoActiveFirstOption
      [displayWith]="this.displayName"
      (optionSelected)="this.adaptButtonLabel()"
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let option of this.filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>

    <!-- remove input model -->
    <button
      mat-button
      *ngIf="this.typeaheadInput.valid"
      matSuffix
      mat-icon-button
      (click)="this.resetInput()"
      class="ml-3"
    >
      <mat-icon>close</mat-icon>
    </button>

    <mat-error *ngIf="this.userInputRequired && this.typeaheadInput.invalid">
      Eingabe erfordert
    </mat-error>

    <mat-hint *ngIf="this.showAddButton">
      Eingegebener Wert noch nicht vorhanden
    </mat-hint>
  </mat-form-field>

  <ng-container *ngIf="this.allowChange">
    <!-- add button -->
    <ng-container *ngIf="this.showAddButton">
      <button
        mat-mini-fab
        color="primary"
        (click)="addButtonAction()"
        aria-label="Hinzufügen"
        class="ml-3"
      >
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>

    <!-- edit button -->
    <ng-container *ngIf="this.showEditDeleteButton">
      <button
        mat-mini-fab
        color="primary"
        (click)="this.editButtonAction()"
        aria-label="Bearbeiten"
        class="ml-3"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>

    <!-- delete button -->
    <ng-container *ngIf="this.showEditDeleteButton">
      <button
        mat-mini-fab
        color="warn"
        (click)="this.deleteButtonAction()"
        aria-label="Löschen"
        class="ml-3"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </ng-container>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <mat-hint #forAlex></mat-hint><div *ngIf="this.showLittleButtons" class="snowflakes" aria-hidden="true"><div *ngFor="let elemet of this.makeImportantStuff()" class="snowflake">❅</div></div>
