<div class="d-flex justify-content-center">
  <div class="p-2"><h1>Einstellungen</h1></div>
</div>

<br />

<div class="d-flex justify-content-end mx-5 mb-3">
  <!-- settings save -->
  <div class="p-2">
    <button
      color="success"
      mat-raised-button
      (click)="this.saveSettings()"
      [disabled]="this.settingsConfigurationGroup.invalid"
    >
      Speichern
    </button>
  </div>

  <!-- phase 2 entry point -->
  <div class="p-2">
    <button
      color="success"
      mat-raised-button
      (click)="this.goToPhaseTwo()"
      [disabled]="
        !(
          this.settingsConfigurationGroup.valid &&
          this.phaseOneTwoService.selectedPhaseOneSolution?.length > 0
        )
      "
      title="Das letzte gewählte Ergebnis der Phase 1 wird verwendet. Voraussetzung: Letztes Ergebnis abrufbar"
    >
      Speichern & zu Phase 2
    </button>
  </div>
</div>

<!-- settings -->
<div class="d-flex justify-content-center mx-5 my-3">
  <form
    class="settings-configuration-form"
    [formGroup]="this.settingsConfigurationGroup"
  >
    <div class="row">
      <!-- // phase 1 -->
      <div class="col title_box mx-2">
        <div class="title">Phase 1</div>

        <div>
          <!-- numberOfSolutionsControl-->
          <input-form-field
            title="Anzahl der Lösungen"
            inputType="number"
            inputPlaceholder="z. B. 10"
            [inputFormControl]="this.numberOfSolutionsControl"
            inputMin="0"
            [inputIsRequired]="true"
            inputSuffixText="Lösungen"
            informationDialogText="Mit diesem Wert können Sie die Anzahl der zurückgegebenen Lösungen des Algorithmus von Phase 1 festlegen."
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />

          <!-- relativeSolutionGapControl (double) -->
          <input-form-field
            title="Abweichung des Kostenwertes zwischen Lösungen"
            inputType="number"
            inputPlaceholder="z. B. 0"
            [inputFormControl]="this.relativeSolutionGapControl"
            inputMin="0"
            inputStep="0.1"
            [inputIsRequired]="false"
            informationDialogText="Mit diesem Wert können Sie die relative Mindestabweichung des Kostenwertes zwischen den berechneten Lösungen des Algorithmus von Phase 1 festlegen."
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />

          <!-- numberOfSlotsPerDayControl -->
          <input-form-field
            title="Anzahl der Slots an einem Tag"
            inputType="number"
            inputPlaceholder="z. B. 2"
            [inputFormControl]="this.numberOfSlotsPerDayControl"
            inputMin="0"
            inputMax="5"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            [informationDialogText]="
              'Mit diesem Wert können Sie die maximale Anzahl der Slots je Gruppe innerhalb eines Tages festlegen, die in den Lösungen des Algorithmus von Phase 1 belegt werden dürfen. ' +
              'Ein Wert von 0 lässt diese Bedingung unberücksichtigt.'
            "
            errorText="Wert innerhalb der Schranken erfordert [0, 5]"
          ></input-form-field>

          <br />

          <!-- numberOfEarlySlotsControl -->
          <input-form-field
            title="Anzahl der frühen Slots"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.numberOfEarlySlotsControl"
            inputMin="0"
            inputMax="5"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            [informationDialogText]="
              'Mit diesem Wert können Sie die maximale Anzahl von Slots festlegen, die zu einer frühen Zeit innerhalt einer Slotgruppe liegen sollen und entsprechend in den Lösungen des Algorithmus von Phase 1 belegt werden dürfen. ' +
              'Ein Wert von 0 lässt diese Bedingung unberücksichtigt.'
            "
            errorText="Wert innerhalb der Schranken erfordert [0, 5]"
          ></input-form-field>

          <br />

          <!-- numberOfLunchSlotsControl -->
          <input-form-field
            title="Anzahl der Slots zur Mittagszeit"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.numberOfLunchSlotsControl"
            inputMin="0"
            inputMax="5"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            [informationDialogText]="
              'Mit diesem Wert können Sie die maximale Anzahl an Slots zur Mittagszeit je Gruppe festlegen, die in den Lösungen des Algorithmus von Phase 1 belegt werden dürfen. ' +
              'Ein Wert von 0 lässt diese Bedingung unberücksichtigt.'
            "
            errorText="Wert innerhalb der Schranken erfordert [0, 5]"
          ></input-form-field>

          <br />

          <!-- numberOfLateSlotsControl -->
          <input-form-field
            title="Anzahl der späten Slots"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.numberOfLateSlotsControl"
            inputMin="0"
            inputMax="5"
            [inputIsRequired]="true"
            inputSuffixText="Slots"
            [informationDialogText]="
              'Mit diesem Wert können Sie die maximale Anzahl an späten Slots je Gruppe festlegen, die in den Lösungen des Algorithmus von Phase 1 belegt werden dürfen. ' +
              'Ein Wert von 0 lässt diese Bedingung unberücksichtigt.'
            "
            errorText="Wert innerhalb der Schranken erfordert [0, 5]"
          ></input-form-field>
        </div>
      </div>

      <!-- // phase 2 -->
      <div class="col title_box mx-2">
        <div class="title">Phase 2</div>

        <div>
          <!-- constraintTaxControl (double) -->
          <input-form-field
            title="Gewichtung der Kollisionen"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.constraintTaxControl"
            inputMin="0"
            inputStep="0.1"
            [inputIsRequired]="true"
            [informationDialogText]="
              'Mit diesem Wert können Sie einen Multiplikator für alle Kollsionsbedingungen definieren. Wird dieser Wert auf 0 gesetzt, spielen diese Bedingungen keine Rolle.'
            "
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />

          <!-- theoryPraxisSeparationWeightControl -->
          <input-form-field
            title="Theory-Praxis-Trennungsgewichtung"
            inputType="number"
            inputPlaceholder="z. B. 0"
            [inputFormControl]="this.theoryPraxisSeparationWeightControl"
            inputMin="0"
            inputMax="100"
            [inputIsRequired]="true"
            [informationDialogText]="
              'Mit diesem Wert können Sie den globaler Faktor der Gewichtung von Kollsionsbedingungen zwischen Modulen der Theorie und Praxis ' +
              'in der Kostenfunktion des Algorithmus der Phase 2 festlegen, sodass sich diese nicht überschneiden. Die Schranken sind [0, 100]'
            "
            errorText="Wert innerhalb der Schranken erfordert [0, 100]"
          ></input-form-field>

          <br />

          <!-- possibleWeightingTaxControl (double) -->
          <input-form-field
            title="Berücksichtigung der 'Vielleicht'-Slot-Gewichte"
            inputType="number"
            inputPlaceholder="z. B. 1"
            [inputFormControl]="this.possibleWeightingTaxControl"
            inputMin="0"
            inputStep="0.1"
            [inputIsRequired]="true"
            [informationDialogText]="
              'Mit diesem Wert können Sie einen Multiplikator für alle ‘Vielleicht’-Slots der Professoren definieren. Wird dieser Wert auf 0 gesetzt, werden ‘Vielleicht’-Slots in der Lösungsfindung wie verfügbare Slots betrachtet.'+
              'Wenn die Parameter zur Gewichtung der Kollisionen und der Berücksichtigung der ‘Vielleicht’-Slot-Gewichte gleich sind,' +
              'wirken sich diese Typen von Bedingungen gleich stark auf das Ergebnis aus.'
            "
            errorText="Positiver Wert erfordert"
          ></input-form-field>

          <br />
          <hr />
          <br />

          <!-- phaseTwoSelectionControl -->
          <select-option-form-field
            title="Wahl des Algorithmus"
            [selectFormControl]="this.phaseTwoSelectionControl"
            [selectIsRequired]="true"
            [selectOptions]="this.phaseTwoSelectionOptions"
            informationDialogText="Mit diesem Wert kann die Wahl des Algorithmus bestimmt werden, nach der die Zuordnung der Module berechnet wird (vgl. hierzu Abschnitt 3 des Manuals: Gegenüberstellung der Phase 2 Algorithmen)"
          >
          </select-option-form-field>

          <br />

          <!-- SSA: professorCostMultiplierPossibleSSAControl -->
          <ng-container *ngIf="this.phaseTwoSelectionControl.value == 'SSA'">
            <input-form-field
              title="Gewichtung von 'Vielleicht'-Slots zur Modulsortierung"
              inputType="number"
              inputPlaceholder="z. B. 5"
              [inputFormControl]="
                this.professorCostMultiplierPossibleSSAControl
              "
              inputMin="0"
              [inputIsRequired]="true"
              informationDialogText="Mit diesem Wert können Sie den globalen Faktor der Gewichtung von 'vielleicht' Slots in der Kostenfunktion des Algorithmus der Phase 2 festlegen."
              errorText="Positiver Wert erfordert"
            ></input-form-field
          ></ng-container>

          <!-- SSA: professorCostMultiplierUnavailableSSAControl -->
          <ng-container *ngIf="this.phaseTwoSelectionControl.value == 'SSA'">
            <input-form-field
              title="Gewichtung von nicht-verfügbaren Slots zur Modulsortierung"
              inputType="number"
              inputPlaceholder="z. B. 10"
              [inputFormControl]="
                this.professorCostMultiplierUnavailableSSAControl
              "
              inputMin="0"
              [inputIsRequired]="true"
              informationDialogText="Mit diesem Wert können Sie den globalen Faktor der Gewichtung von 'nicht-verfügbaren' Slots in der Kostenfunktion des Algorithmus der Phase 2 festlegen."
              errorText="Positiver Wert erfordert"
            ></input-form-field
          ></ng-container>

          <!-- MBT: adjacencyTaxMBTControl -->
          <ng-container *ngIf="this.phaseTwoSelectionControl.value == 'MBT'">
            <input-form-field
              title="Gewichtung von benachbarten Slots"
              inputType="number"
              inputPlaceholder="z. B. 1"
              [inputFormControl]="this.adjacencyTaxMBTControl"
              inputMin="0"
              [inputIsRequired]="true"
              [informationDialogText]="
                'Mit diesem Wert können Sie den globalen Faktor der Gewichtung von benachbarten Slots in der Kostenfunktion des Algorithmus der Phase 2 festlegen.' +
                'Die Wahl des Faktors von Gewichtungen ist immmer relativ zur Wahl der anderen frei wählbaren Gewichtungen, bei einem Wert von 0 bleibt der Faktor entsprechend unberücksichtigt.'
              "
              errorText="Positiver Wert erfordert"
            ></input-form-field
          ></ng-container>

          <!-- MBT: timeLimitInMinutesMBTControl (double) -->
          <ng-container *ngIf="this.phaseTwoSelectionControl.value == 'MBT'">
            <input-form-field
              title="Zeitlimit des Ausführung (MBT)"
              inputType="number"
              inputPlaceholder="z. B. 1"
              [inputFormControl]="this.timeLimitInMinutesMBTControl"
              inputMin="0.01"
              inputStep="0.01"
              [inputIsRequired]="true"
              inputSuffixText="Minuten"
              [informationDialogText]="
                'Mit diesem Wert können Sie das Zeitlimit der Ausführung des MBT-Algorithmus der Phase 2 festlegen. ' +
                'Nach dieser Zeit wird die Lösung mit dem besten Zielfunktionswert zurückgegeben.'
              "
              errorText="Wert größer als 0 erfordert"
            ></input-form-field>
          </ng-container>
        </div>
      </div>
    </div>

    <br />

    <!-- timeslotGroup sizes -->
    <div class="row">
      <div class="col title_box mx-2">
        <div class="title">Größe der Slotgruppen</div>
        <ng-container
          *ngIf="
            this.timeslotGroupConfigurationControlMap.size > 0;
            else elseBlock
          "
        >
          <div class="d-flex justify-content-center align-items-center">
            <div class="px-2">
              <p>
                Anzahl der noch zu Gruppen hinzufügbaren Slots:&nbsp;
                {{ this.numberOfRemainingAvailableSlots }} (von maximal:&nbsp;
                {{ this.NUMBER_OF_AVAILABLE_SLOTS_TOTAL }})
              </p>
            </div>
            <div class="px-2 pb-2">
              <mat-icon (click)="this.openGroupSizeInfoDialog()">info</mat-icon>
            </div>
          </div>

          <input-form-field
            *ngFor="
              let mapEntry of this.timeslotGroupConfigurationControlMap
                | keyvalue
            "
            [title]="'Anzahl der ' + mapEntry.value.size + '-er Slot-Gruppen'"
            inputType="number"
            [inputFormControl]="mapEntry.key"
            inputMin="0"
            [inputIsRequired]="true"
            [inputSuffixText]="
              mapEntry.value.size +
              '-er Slot-Gruppen für ' +
              mapEntry.value.presentModules +
              ' Modul(e)'
            "
            [informationDialogText]="
              'Mit diesem Wert können Sie die Anzahl der jeweiligen Slot-Gruppen von der entsprechenden Größe festlegen (hier: ' +
              mapEntry.key.value +
              ' Gruppe(n) für ' +
              mapEntry.value.presentModules +
              ' Modul(e), das(/die) ' +
              mapEntry.value.size +
              ' Slot(s) belegt(en)). Es wird automatisch geprüft, ob der aktuell eingegebenen Werte aller Felder die maximal mögliche Menge von ' +
              this.NUMBER_OF_AVAILABLE_SLOTS_TOTAL +
              ' Slots insgesamt nicht überschreitet (Siehe Information über den Feldern)'
            "
            [errorText]="
              'Wert innerhalb der Schranken erfordert [0, ' +
              this.calculateMaximalPossibleValue(
                mapEntry.key.value,
                mapEntry.value.size
              ) +
              ']'
            "
          ></input-form-field>
        </ng-container>

        <ng-template #elseBlock>
          <p>Es wurde keine Module gefunden, die Slots belegen könnten.</p>
        </ng-template>
      </div>
    </div>
  </form>
</div>
