<div class="d-flex justify-content-center">
  <div class="p-2"><h1>Professorkonfiguration</h1></div>
</div>

<br />

<!-- professor selection & save -->
<div class="d-flex flex-row justify-content-between">
  <div class="p-2">
    <typeahead
      typeaheadLabel="Professor wählen"
      [userInputRequired]="true"
      [allowChange]="true"
      [urlDirectoryPath]="this.mainCommunicationService.PROFESSORS"
      (optionSelected)="this.professorSelected($event)"
    ></typeahead>
  </div>

  <div class="p-2">
    <button
      color="success"
      mat-raised-button
      (click)="this.saveProfessor()"
      [disabled]="
        !(
          this.selectedProfessor.id ||
          this.professorSettingsConfigurationGroup.valid
        )
      "
    >
      Speichern
    </button>
  </div>
</div>
<div class="col title_box mx-3 pb-2">
  <div class="title">Details</div>

  <!-- accordion -->
  <mat-accordion class="accordion-headers-align" [togglePosition]="'before'">
    <!-- availability -->
    <mat-expansion-panel
      [disabled]="!this.selectedProfessor.id"
      [(expanded)]="this.availabilityExpanded"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Verfügbarkeit</mat-panel-title>

        <mat-panel-description class="text-center pr-5"
          >Festlegen der verfügbaren Zeiten des
          Professors</mat-panel-description
        >
      </mat-expansion-panel-header>

      <week-calender
        mode="professor-configuration"
        [givenAvailability]="this.selectedProfessorAvailability"
        (onAvailabilityChange)="this.availabilityChanged($event)"
      ></week-calender>
    </mat-expansion-panel>

    <!-- module selection -->
    <mat-expansion-panel
      [disabled]="!this.selectedProfessor.id"
      [(expanded)]="this.moduleExpanded"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Module</mat-panel-title>

        <mat-panel-description class="text-center pr-5"
          >Zuweisung zu verantworteten Modulen</mat-panel-description
        >
      </mat-expansion-panel-header>

      <module-selection
        [givenModules]="this.selectedProfessor.modules"
        [considerAssignedModules]="false"
        (moduleSelectionChanged)="this.moduleSelectionChanged($event)"
      ></module-selection>
    </mat-expansion-panel>

    <!-- settings -->
    <mat-expansion-panel
      [disabled]="!this.selectedProfessor.id"
      [(expanded)]="this.settingsExpanded"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Einstellungen</mat-panel-title>

        <mat-panel-description class="text-center pr-5"
          >Zuweisung zu verantworteten Modulen</mat-panel-description
        >
      </mat-expansion-panel-header>

      <input-form-field
        title="Gewichtung von aufeinanderfolgenden Slots"
        inputType="number"
        inputPlaceholder="z. B. 0"
        [inputFormControl]="this.adjacencyCostMultiplierControl"
        inputMin="0"
        inputMax="100"
        [inputIsRequired]="true"
        informationDialogText="Mit diesem Wert können Sie den Professor-spezifischen Faktor der Gewichtung für aufeinanderfolgende Slots in der Kostenfunktion des Algorithmuses der Phase 2 festlegen."
        errorText="Wert innerhalb der Schranken erfordert [0, 100]"
      ></input-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
