@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color-blue: #303c87;
$color-pink: #560044;

:root {
  --cau-pink: #560044;

  --pink-1: #b32557;
  --pink-2: #9e579d;
  --pink-3: #574b90;
  --pink-4: #303a52;

  --light-1: #f4fa9c;
  --light-2: #f469a9;
  --light-3: #ba53de;
  --light-4: #83e85a;

  --red-1: #f85959;
  --red-2: #7c203a;
}

.marginTop25 {
  margin-top: 25px;
}
.marginTop10 {
  margin-top: 10px;
}

.standartBorder {
  border: 2px solid black;
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.cdk-overlay-container {
  z-index: 1050;
}

.standardInformationField{
  cursor: pointer;
}

.title_box {
  border: #3c5a86 1px solid;
  border-radius: 5px;
}

.title_box .title {
  position: relative;
  top: -0.9em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

// Standart Table
table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #560044;
  border-bottom: 4px solid #000000;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 4px solid #000000;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}

.mat-success {
  background-color: grey;
  color: #fff;
}