.constraint-wrapper {
  display: flex;
  flex-flow: column;
}

.infoIcon{
  font-size: 35px;
  cursor: pointer;
}

// Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.centeredContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
