<div class="d-flex justify-content-center align-items-center">
  <div class="p-2"><h1>Kollisionsgewichtungen</h1></div>
  <div class="p-2">
    <mat-icon (click)="this.openInfoDialog()" class="infoIcon">info</mat-icon>
  </div>
</div>

<div class="d-flex justify-content-end">
  <div class="p-2">
    <button
      color="success"
      mat-raised-button
      (click)="onSubmitClick()"
      type="button"
    >
      Speichern
    </button>
  </div>
</div>

<form class="form-group" [formGroup]="constraintForm">
  <table class="table" formArrayName="constraint">
    <tbody>
      <mat-accordion style="display: grid">
        <tr
          *ngFor="
            let constraint of getConstraint(constraintForm);
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-expansion-panel mu>
            <mat-expansion-panel-header>
              Kollision {{ i + 1 }}
            </mat-expansion-panel-header>

            <div class="constraint-wrapper">
              <td>
                <mat-slider
                  [min]="1"
                  [max]="100"
                  thumbLabel
                  class="form-control"
                  formControlName="weighting"
                >
                </mat-slider>
              </td>
              <td>
                <module-selection
                  [considerAssignedModules]="true"
                  (moduleSelectionChanged)="
                    this.moduleSelectionChanged($event, i)
                  "
                  [givenModules]="preselectedModules[i]"
                ></module-selection>
              </td>

              <td>
                <div class="centeredContent">
                  <button
                    mat-mini-fab
                    color="warn"
                    *ngIf="i >= 0"
                    (click)="removeConstraint(i)"
                    aria-label="Löschen"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </div>
          </mat-expansion-panel>
        </tr>
      </mat-accordion>
    </tbody>
  </table>
  <div class="d-flex flex-row justify-content-between">
    <button
      mat-mini-fab
      color="primary"
      (click)="addConstraint()"
      aria-label="Hinzufügen"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>
